[Unit]
Description=iiif-server
After=docker.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill iiif-server
ExecStartPre=-/usr/bin/docker rm iiif-server
ExecStart=/usr/bin/docker run --rm -p 8080:8080 --name iiif-server iiif-server

[Install]
WantedBy=multi-user.target
